# Configurações do Banco de Dados
DATABASE_URL=postgresql://postgres:ffcaa89a3e19bd98e911475c7974309b@10.1.0.2:5432/finance_dev
# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Chaves de Segurança
JWT_SECRET=sua_chave_secreta_aqui
